UJCSystem/ITJakub.MobileApps.Client.Core/Service References/ITJakub.MobileApps.Client.Core.Service/MobileAppsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MobileAppsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:22771/MobileAppsService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:22771/MobileAppsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:22771/MobileAppsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ITJakub.MobileApps.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMobileAppsService_CreateInstitution_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateInstitution" />
  </wsdl:message>
  <wsdl:message name="IMobileAppsService_CreateInstitution_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateInstitutionResponse" />
  </wsdl:message>
  <wsdl:message name="IMobileAppsService_GetInstitutionDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInstitutionDetails" />
  </wsdl:message>
  <wsdl:message name="IMobileAppsService_GetInstitutionDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInstitutionDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IMobileAppsService_AddUserToInstitution_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUserToInstitution" />
  </wsdl:message>
  <wsdl:message name="IMobileAppsService_AddUserToInstitution_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserToInstitutionResponse" />
  </wsdl:message>
  <wsdl:message name="IMobileAppsService_CreateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="IMobileAppsService_CreateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IMobileAppsService_GetUserDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserDetails" />
  </wsdl:message>
  <wsdl:message name="IMobileAppsService_GetUserDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IMobileAppsService_GetTasksForApplication_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTasksForApplication" />
  </wsdl:message>
  <wsdl:message name="IMobileAppsService_GetTasksForApplication_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTasksForApplicationResponse" />
  </wsdl:message>
  <wsdl:message name="IMobileAppsService_CreateTaskForApplication_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateTaskForApplication" />
  </wsdl:message>
  <wsdl:message name="IMobileAppsService_CreateTaskForApplication_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateTaskForApplicationResponse" />
  </wsdl:message>
  <wsdl:message name="IMobileAppsService_CreateGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateGroup" />
  </wsdl:message>
  <wsdl:message name="IMobileAppsService_CreateGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IMobileAppsService_AssignTaskToGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:AssignTaskToGroup" />
  </wsdl:message>
  <wsdl:message name="IMobileAppsService_AssignTaskToGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:AssignTaskToGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IMobileAppsService_AddUserToGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUserToGroup" />
  </wsdl:message>
  <wsdl:message name="IMobileAppsService_AddUserToGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserToGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IMobileAppsService_GetGroupDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGroupDetails" />
  </wsdl:message>
  <wsdl:message name="IMobileAppsService_GetGroupDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGroupDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IMobileAppsService_GetSynchronizedObjects_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSynchronizedObjects" />
  </wsdl:message>
  <wsdl:message name="IMobileAppsService_GetSynchronizedObjects_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSynchronizedObjectsResponse" />
  </wsdl:message>
  <wsdl:message name="IMobileAppsService_CreateSynchronizedObject_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateSynchronizedObject" />
  </wsdl:message>
  <wsdl:message name="IMobileAppsService_CreateSynchronizedObject_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateSynchronizedObjectResponse" />
  </wsdl:message>
  <wsdl:portType name="IMobileAppsService">
    <wsdl:operation name="CreateInstitution">
      <wsdl:input wsaw:Action="http://tempuri.org/IMobileAppsService/CreateInstitution" message="tns:IMobileAppsService_CreateInstitution_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMobileAppsService/CreateInstitutionResponse" message="tns:IMobileAppsService_CreateInstitution_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInstitutionDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IMobileAppsService/GetInstitutionDetails" message="tns:IMobileAppsService_GetInstitutionDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMobileAppsService/GetInstitutionDetailsResponse" message="tns:IMobileAppsService_GetInstitutionDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUserToInstitution">
      <wsdl:input wsaw:Action="http://tempuri.org/IMobileAppsService/AddUserToInstitution" message="tns:IMobileAppsService_AddUserToInstitution_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMobileAppsService/AddUserToInstitutionResponse" message="tns:IMobileAppsService_AddUserToInstitution_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IMobileAppsService/CreateUser" message="tns:IMobileAppsService_CreateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMobileAppsService/CreateUserResponse" message="tns:IMobileAppsService_CreateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IMobileAppsService/GetUserDetails" message="tns:IMobileAppsService_GetUserDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMobileAppsService/GetUserDetailsResponse" message="tns:IMobileAppsService_GetUserDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTasksForApplication">
      <wsdl:input wsaw:Action="http://tempuri.org/IMobileAppsService/GetTasksForApplication" message="tns:IMobileAppsService_GetTasksForApplication_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMobileAppsService/GetTasksForApplicationResponse" message="tns:IMobileAppsService_GetTasksForApplication_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateTaskForApplication">
      <wsdl:input wsaw:Action="http://tempuri.org/IMobileAppsService/CreateTaskForApplication" message="tns:IMobileAppsService_CreateTaskForApplication_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMobileAppsService/CreateTaskForApplicationResponse" message="tns:IMobileAppsService_CreateTaskForApplication_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IMobileAppsService/CreateGroup" message="tns:IMobileAppsService_CreateGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMobileAppsService/CreateGroupResponse" message="tns:IMobileAppsService_CreateGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AssignTaskToGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IMobileAppsService/AssignTaskToGroup" message="tns:IMobileAppsService_AssignTaskToGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMobileAppsService/AssignTaskToGroupResponse" message="tns:IMobileAppsService_AssignTaskToGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUserToGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IMobileAppsService/AddUserToGroup" message="tns:IMobileAppsService_AddUserToGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMobileAppsService/AddUserToGroupResponse" message="tns:IMobileAppsService_AddUserToGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGroupDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IMobileAppsService/GetGroupDetails" message="tns:IMobileAppsService_GetGroupDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMobileAppsService/GetGroupDetailsResponse" message="tns:IMobileAppsService_GetGroupDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSynchronizedObjects">
      <wsdl:input wsaw:Action="http://tempuri.org/IMobileAppsService/GetSynchronizedObjects" message="tns:IMobileAppsService_GetSynchronizedObjects_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMobileAppsService/GetSynchronizedObjectsResponse" message="tns:IMobileAppsService_GetSynchronizedObjects_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateSynchronizedObject">
      <wsdl:input wsaw:Action="http://tempuri.org/IMobileAppsService/CreateSynchronizedObject" message="tns:IMobileAppsService_CreateSynchronizedObject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMobileAppsService/CreateSynchronizedObjectResponse" message="tns:IMobileAppsService_CreateSynchronizedObject_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="MobileAppsService" />
</wsdl:definitions>