UJCSystem/ITJakub.MobileApps.Client.Core/Service References/ITJakub.MobileApps.Client.Core.Service/MobileAppsService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:22771/MobileAppsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ITJakub.MobileApps.DataContracts" />
  <xs:element name="CreateInstitution">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ITJakub.MobileApps.DataContracts" minOccurs="0" name="institution" nillable="true" type="q1:Institution" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateInstitutionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstitutionDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="institutionId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstitutionDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ITJakub.MobileApps.DataContracts" minOccurs="0" name="GetInstitutionDetailsResult" nillable="true" type="q2:InstitutionDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserToInstitution">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="enterCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserToInstitutionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authenticationProvider" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="authenticationProviderToken" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ITJakub.MobileApps.DataContracts" minOccurs="0" name="user" nillable="true" type="q3:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ITJakub.MobileApps.DataContracts" minOccurs="0" name="GetUserDetailsResult" nillable="true" type="q4:UserDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTasksForApplication">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="applicationId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTasksForApplicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ITJakub.MobileApps.DataContracts" minOccurs="0" name="GetTasksForApplicationResult" nillable="true" type="q5:ArrayOfTaskDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTaskForApplication">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="applicationId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ITJakub.MobileApps.DataContracts" minOccurs="0" name="task" nillable="true" type="q6:Task" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTaskForApplicationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ITJakub.MobileApps.DataContracts" minOccurs="0" name="group" nillable="true" type="q7:Group" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ITJakub.MobileApps.DataContracts" minOccurs="0" name="CreateGroupResult" nillable="true" type="q8:CreateGroupResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignTaskToGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="taskId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignTaskToGroupResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserToGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="enterCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserToGroupResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ITJakub.MobileApps.DataContracts" minOccurs="0" name="GetGroupDetailsResult" nillable="true" type="q9:GroupDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSynchronizedObjects">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="applicationId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="objectType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="since" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSynchronizedObjectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ITJakub.MobileApps.DataContracts" minOccurs="0" name="GetSynchronizedObjectsResult" nillable="true" type="q10:ArrayOfSynchronizedObjectDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSynchronizedObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="applicationId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ITJakub.MobileApps.DataContracts" minOccurs="0" name="synchronizedObject" nillable="true" type="q11:SynchronizedObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSynchronizedObjectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>