UJCSystem/ITJakub.MobileApps.Client.Core/Service References/Service/MobileAppsService31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ITJakub.MobileApps.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ITJakub.MobileApps.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="UserWithSalt">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:User">
        <xs:sequence>
          <xs:element minOccurs="0" name="PasswordHash" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Salt" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserWithSalt" nillable="true" type="tns:UserWithSalt" />
  <xs:complexType name="UserLogin">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthenticationProvider" type="tns:AuthenticationProviders" />
      <xs:element minOccurs="0" name="AuthenticationToken" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserLogin" nillable="true" type="tns:UserLogin" />
  <xs:simpleType name="AuthenticationProviders">
    <xs:annotation>
      <xs:appinfo>
        <ActualType Name="unsignedByte" Namespace="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="ItJakub" />
      <xs:enumeration value="Google" />
      <xs:enumeration value="Facebook" />
      <xs:enumeration value="LiveId" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AuthenticationProviders" nillable="true" type="tns:AuthenticationProviders" />
  <xs:complexType name="LoginUserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="CommunicationToken" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstimatedExpirationTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginUserResponse" nillable="true" type="tns:LoginUserResponse" />
  <xs:complexType name="Institution">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Institution" nillable="true" type="tns:Institution" />
  <xs:complexType name="InstitutionDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Employees" nillable="true" type="tns:ArrayOfUserBasicDetails" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InstitutionDetails" nillable="true" type="tns:InstitutionDetails" />
  <xs:complexType name="ArrayOfUserBasicDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserBasicDetails" nillable="true" type="tns:UserBasicDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserBasicDetails" nillable="true" type="tns:ArrayOfUserBasicDetails" />
  <xs:complexType name="UserBasicDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserBasicDetails" nillable="true" type="tns:UserBasicDetails" />
  <xs:complexType name="UserDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedGroups" nillable="true" type="tns:ArrayOfGroup" />
      <xs:element minOccurs="0" name="CreatedTasks" nillable="true" type="tns:ArrayOfTask" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="MemberOfGroups" nillable="true" type="tns:ArrayOfGroup" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDetails" nillable="true" type="tns:UserDetails" />
  <xs:complexType name="ArrayOfGroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Group" nillable="true" type="tns:Group" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGroup" nillable="true" type="tns:ArrayOfGroup" />
  <xs:complexType name="Group">
    <xs:sequence>
      <xs:element minOccurs="0" name="Members" nillable="true" type="tns:ArrayOfUserBasicDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Group" nillable="true" type="tns:Group" />
  <xs:complexType name="ArrayOfTask">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Task" nillable="true" type="tns:Task" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTask" nillable="true" type="tns:ArrayOfTask" />
  <xs:complexType name="Task">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Task" nillable="true" type="tns:Task" />
  <xs:complexType name="ArrayOfTaskDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TaskDetails" nillable="true" type="tns:TaskDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTaskDetails" nillable="true" type="tns:ArrayOfTaskDetails" />
  <xs:complexType name="TaskDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Author" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Task" nillable="true" type="tns:Task" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaskDetails" nillable="true" type="tns:TaskDetails" />
  <xs:complexType name="CreateGroupResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="EnterCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateGroupResponse" nillable="true" type="tns:CreateGroupResponse" />
  <xs:complexType name="GroupDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Author" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Group" nillable="true" type="tns:Group" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GroupDetails" nillable="true" type="tns:GroupDetails" />
  <xs:complexType name="ArrayOfSynchronizedObjectDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SynchronizedObjectDetails" nillable="true" type="tns:SynchronizedObjectDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSynchronizedObjectDetails" nillable="true" type="tns:ArrayOfSynchronizedObjectDetails" />
  <xs:complexType name="SynchronizedObjectDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Author" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="SynchronizedObject" nillable="true" type="tns:SynchronizedObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SynchronizedObjectDetails" nillable="true" type="tns:SynchronizedObjectDetails" />
  <xs:complexType name="SynchronizedObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObjectType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SynchronizedObject" nillable="true" type="tns:SynchronizedObject" />
</xs:schema>