UJCSystem/DocProjectStorageWeb/Service References/AccountsServiceReference/AccountsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AccountsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49229/AccountsService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49229/AccountsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49229/AccountsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AuthService.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAccountsService_GetAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="IAccountsService_GetAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountsService_Authenticate_InputMessage">
    <wsdl:part name="parameters" element="tns:Authenticate" />
  </wsdl:message>
  <wsdl:message name="IAccountsService_Authenticate_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountsService_HasRole_InputMessage">
    <wsdl:part name="parameters" element="tns:HasRole" />
  </wsdl:message>
  <wsdl:message name="IAccountsService_HasRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:HasRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountsService_GetUserNameByEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserNameByEmail" />
  </wsdl:message>
  <wsdl:message name="IAccountsService_GetUserNameByEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserNameByEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountsService_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="IAccountsService_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountsService_RemoveUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUser" />
  </wsdl:message>
  <wsdl:message name="IAccountsService_RemoveUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUserResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountsService_SaveContextChanges_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveContextChanges" />
  </wsdl:message>
  <wsdl:message name="IAccountsService_SaveContextChanges_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveContextChangesResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountsService_GetUserById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserById" />
  </wsdl:message>
  <wsdl:message name="IAccountsService_GetUserById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountsService_GetUserByEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByEmail" />
  </wsdl:message>
  <wsdl:message name="IAccountsService_GetUserByEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByEmailResponse" />
  </wsdl:message>
  <wsdl:portType name="IAccountsService">
    <wsdl:operation name="GetAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountsService/GetAllUsers" message="tns:IAccountsService_GetAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountsService/GetAllUsersResponse" message="tns:IAccountsService_GetAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountsService/Authenticate" message="tns:IAccountsService_Authenticate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountsService/AuthenticateResponse" message="tns:IAccountsService_Authenticate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HasRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountsService/HasRole" message="tns:IAccountsService_HasRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountsService/HasRoleResponse" message="tns:IAccountsService_HasRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserNameByEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountsService/GetUserNameByEmail" message="tns:IAccountsService_GetUserNameByEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountsService/GetUserNameByEmailResponse" message="tns:IAccountsService_GetUserNameByEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountsService/AddUser" message="tns:IAccountsService_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountsService/AddUserResponse" message="tns:IAccountsService_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountsService/RemoveUser" message="tns:IAccountsService_RemoveUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountsService/RemoveUserResponse" message="tns:IAccountsService_RemoveUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveContextChanges">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountsService/SaveContextChanges" message="tns:IAccountsService_SaveContextChanges_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountsService/SaveContextChangesResponse" message="tns:IAccountsService_SaveContextChanges_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserById">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountsService/GetUserById" message="tns:IAccountsService_GetUserById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountsService/GetUserByIdResponse" message="tns:IAccountsService_GetUserById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserByEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountsService/GetUserByEmail" message="tns:IAccountsService_GetUserByEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountsService/GetUserByEmailResponse" message="tns:IAccountsService_GetUserByEmail_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAccountsService" type="tns:IAccountsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://tempuri.org/IAccountsService/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <soap:operation soapAction="http://tempuri.org/IAccountsService/Authenticate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HasRole">
      <soap:operation soapAction="http://tempuri.org/IAccountsService/HasRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserNameByEmail">
      <soap:operation soapAction="http://tempuri.org/IAccountsService/GetUserNameByEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/IAccountsService/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveUser">
      <soap:operation soapAction="http://tempuri.org/IAccountsService/RemoveUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveContextChanges">
      <soap:operation soapAction="http://tempuri.org/IAccountsService/SaveContextChanges" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserById">
      <soap:operation soapAction="http://tempuri.org/IAccountsService/GetUserById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByEmail">
      <soap:operation soapAction="http://tempuri.org/IAccountsService/GetUserByEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountsService">
    <wsdl:port name="BasicHttpBinding_IAccountsService" binding="tns:BasicHttpBinding_IAccountsService">
      <soap:address location="http://localhost:49229/AccountsService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>